<div class="card" *ngIf="item">
    <img class="card-img-top" [src]="item | noImage" alt="">
    <div class="card-body">
        <div class="row fluid">
            <div class="col-md">
                <button type="button" [routerLink]="['/view', item.id]" class="btn btn-primary btn-block" >
                    <i class="fas fa-eye    "></i>
                </button>
                
            </div>

            <div class="col-md">
                <button type="button" [routerLink]="['/form/update', item.id]" class="btn btn-warning btn-block">
                <i class="fas fa-pencil-alt    "></i>
                </button>
                
            </div>

            <div class="col-md">
                <button type="button" (click)="delete(item)"  class="btn btn-danger btn-block ">
                    <i class="fas fa-trash    "></i>
                </button>
                
            </div>
            
      
        </div>
        <small class="text-muted" >{{item.company}} &nbsp; | &nbsp;  from {{item.ageRestriction}} above</small>
        <h4 class="card-title"> {{item.name}}</h4>
        <p class="card-text">{{item.price | currency}}</p>

    </div>
    
</div>

